body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: rgb(166, 31, 31);
    /* overflow-x: hidden; */
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 800px){
    .main{
        margin-left: 70%; 
    }

    .sidenav{
        width: 60%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
    margin: auto;
}

.btn-black{
    background-color: whitesmoke!important;
    color: #fff;
}
.btn-black a{
    background-color: whitesmoke !important;
    color: #746d6d;
}
.btn-secondary {
    background-color: #d11616;
    color: #FFF;
}
.btn-secondary a{
  
    color: #FFF;
}
.login-page-text{
    margin-top: 10%;
    text-align: center;
    font-size: 60px;
}
.name{
    font-family: sans-serif;
}
.text{
    margin-top: 1%;
    margin-left: 30%;
    font-size: 30px;
}
